<%- include('../partials/navbar/vertical-nav.ejs') %>
<%- include('../includes/head.ejs') %>

<div class="report--container">
  <h1>Products to Expire Soon</h1>
  <div class="dash--preview">
    <form action="" method="post">
      <label for="days">Days till expiry date:</label>
      <input type="number" name="days" min="1" max="1000" step="1" placeholder="Days till expiration" value="<%= days %>" required>
      <button type="submit">Search</button>
    </form>
      <div class="dash--data expiring-soon">
        <span class="bold">Product Name</span>
        <span class="bold">Location</span>
        <span class="bold">Expiry Date</span>
        <span class="bold">Quantity</span>
        <% data.forEach(item => { %>
          <span><%= item.product_name %></span>
          <span>
            <span><span class="bold">Room:</span><%= `${item.room_name}` %></span>
            <span><span class="bold">Section:</span><%= `${item.section_name}` %></span>
            <span><span class="bold">Shelf:</span><%= `${item.shelf_name}` %></span>
          </span>
          <span><%= new Date(item.expiry_date).toDateString() %></span>
          <span><%= item.quantity %></span>
        <% }) %>
      </div>
  </div>
</div>

<%- include('../includes/foot.ejs') %>
