<%- include('./includes/head.ejs') %>
<%- include('./partials/navbar/vertical-nav.ejs') %>

<div class="dashboard--container">
  <div class="dashboard">
    <div class="low-quantity--preview dash--preview">
      <div class="dash--data low-quantity">
        <span class="bold">Product Name</span>
        <span class="bold">Expiry Date</span>
        <span class="bold">Quantity</span>
        <% lowQuantity.forEach(item => { %>
          <span><%= item.product_name %></span>
          <span><%= new Date(item.expiry_date).toDateString() %></span>
          <span><%= item.quantity %></span>
        <% }) %>
      </div>
    </div>
    <div class="expiring-soon--preview dash--preview">
      <div class="dash--data expiring-soon">
        <span class="bold">Product Name</span>
        <span class="bold">Location</span>
        <span class="bold">Expiry Date</span>
        <span class="bold">Quantity</span>
        <% expireSoon.forEach(item => { %>
          <span><%= item.product_name %></span>
          <span>
            <span><span class="bold">Room:</span><%= `${item.room_name}` %></span>
            <span><span class="bold">Section:</span><%= `${item.section_name}` %></span>
            <span><span class="bold">Shelf:</span><%= `${item.shelf_name}` %></span>
          </span>
          <span><%= new Date(item.expiry_date).toDateString() %></span>
          <span><%= item.quantity %></span>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<%- include('./includes/foot.ejs') %>
