<%- include('../includes/head.ejs') %>
<%- include('../partials/navbar/vertical-nav.ejs') %>

<div class="content">
  <div class="header flex right">
    <a href="/staff/new">
    <div class="add-btn flex center">
      <img src="/images/icons/plus-solid.svg">
    </div>
  </a>
  </div>
  <div class="data">
    <% if (staff.length > 0) { %>
      <% staff.forEach((emp) => { %>
        <div class="row employee">
          <span class="name"><%= emp.dataValues.name %></span>
          <span class="phone"><%= emp.dataValues.phone_number %></span>
          <span class="email"><%= emp.dataValues.email_address %></span>
          <a href="/staff/<%= emp.dataValues.id %>">
            <div class="details-btn flex center">
              <img src="/images/icons/arrow-right-solid.svg">
            </div>
          </a>
        </div>
      <% }); %>
    <% } %>
  </div>
</div>


<%- include('../includes/foot.ejs') %>